
version: '3.9'

services:
  web:
    build: .
    command: gunicorn impulsa.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
    env_file:
      - .env
    depends_on:
      - db
    expose:
      - "8000"

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/staticfiles
    ports:
      - "80:80"
    depends_on:
      - web

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: impulsa_db
      POSTGRES_USER: impulsa_user
      POSTGRES_PASSWORD: impulsa_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
  static_volume:
