version: '3.9'

services:
  web:
    build: .
    command: gunicorn impulsa.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: impulsa_db
      POSTGRES_USER: impulsa_user
      POSTGRES_PASSWORD: impulsa_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: